// Helpers classes
.no-padding {
  padding: 0;
}

.no-padding-r {
  padding-right: 0;
}

.no-padding-l {
  padding-left: 0;
}

.no-padding-t {
  padding-top: 0;
}

.no-padding-b {
  padding-bottom: 0;
}

.no-padding-lr {
  padding-left: 0;
  padding-right: 0;
}

.no-padding-tb {
  padding-top: 0;
  padding-bottom: 0;
}

.no-margin {
  margin: 0;
}

.no-margin-r {
  margin-right: 0;
}

.no-margin-l {
  margin-left: 0;
}

.no-margin-t {
  margin-top: 0;
}

.no-margin-b {
  margin-bottom: 0;
}

.no-margin-lr {
  margin-left: 0;
  margin-right: 0;
}

.no-margin-tb {
  margin-top: 0;
  margin-bottom: 0;
}

.align-left {
  text-align-last: left;
}

.align-right {
  text-align-last: right;
}

.align-center {
  text-align-last: center;
}
